.header-bar.default-decoration {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.9em;
}

.header-bar.default-decoration .button.titlebutton {
    padding: 0px;
}

#vim-main-window { 
    background-color: #0a0a0a;
}
